<div class="centered-content">
  <div class="white-box">

    <h1 class="title has-text-primary">Zaloguj się</h1>

    <div class="field">
      <p class="control has-icons-left">
        <input #emailInput class="input has-background-light" type="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input #pwInput class="input has-background-light" type="password" placeholder="Hasło">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <button class="button is-success has-text-white button-box" (click)="onLoginButtonClicked(emailInput.value, pwInput.value)">
        Zaloguj się
      </button>
    </div>

    <p class="has-text-grey">Nie masz konta?  <a routerLink="/signupwho">Załóż konto</a> teraz!</p>

  </div>
</div>
